<!-- flex container displaying children as a column -->
<div class="app flex-container" fxLayout="column" fxLayoutAlign="start stretch">

  <mat-toolbar color="primary" class="mat-elevation-z10">
    Genesis
  </mat-toolbar>

  <!-- this flex item takes the rest of the screen in height -->
  <mat-sidenav-container fxFlex>
    <mat-sidenav mode="side" align="end" opened class="mat-elevation-z10">
      <mat-tab-group>
        <mat-tab label="USER LOGIN">
          <div class="mat-form-field-wrapper"></div>
          <form>
            <mat-grid-list cols="1" rowHeight="5:1">
              <mat-grid-tile>
                <mat-form-field>
                  <input matInput type="text" name="username" placeholder="Username" required>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field>
                  <input matInput type="password" placeholder="Password" required>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                <button mat-raised-button color="primary">Login</button>
              </mat-grid-tile>
            </mat-grid-list>
          </form>
        </mat-tab>
        <mat-tab label="PIN LOGIN">
          <div class="mat-form-field-wrapper"></div>
          <div style="text-align: center;margin-bottom: 25px">
            <span>ENTER SALES ID</span>
          </div>
          <mat-grid-list cols="1" rowHeight="50px">
            <mat-grid-tile>
              <div class="input-group cInput">
                <input *ngFor="let in of inputElements" [id]="in" type="password" #input class="form-control" maxlength="1" pattern="[0-9]+"
                  inputmode="numeric" minlength="1">
              </div>
            </mat-grid-tile>
          </mat-grid-list>
          <div style="padding-top:30px">
            <mat-grid-list cols="3" rowHeight="1:1">
              <mat-grid-list cols="3" rowHeight="2:1">
                <mat-grid-tile>
                  <input type="button" class="btn btn-default" #btn1 (click)="keyInput(btn1)" value="1">
                </mat-grid-tile>

                <mat-grid-tile>
                  <input type="button" class="btn btn-default" #btn2 (click)="keyInput(btn2)" value="2">
                </mat-grid-tile>

                <mat-grid-tile>
                  <input type="button" class="btn btn-default" #btn3 (click)="keyInput(btn3)" value="3">
                </mat-grid-tile>
              </mat-grid-list>
              <mat-grid-list cols="3" rowHeight="2:1">
                <mat-grid-tile>
                  <input type="button" class="btn btn-default" #btn4 (click)="keyInput(btn4)" value="4">
                </mat-grid-tile>

                <mat-grid-tile>
                  <input type="button" class="btn btn-default" #btn5 (click)="keyInput(btn5)" value="5">
                </mat-grid-tile>

                <mat-grid-tile>
                  <input type="button" class="btn btn-default" #btn6 (click)="keyInput(btn6)" value="6">
                </mat-grid-tile>

              </mat-grid-list>
              <mat-grid-list cols="3" rowHeight="2:1">
                <mat-grid-tile>
                  <input type="button" class="btn btn-default" #btn7 (click)="keyInput(btn7)" value="7">
                </mat-grid-tile>

                <mat-grid-tile>
                  <input type="button" class="btn btn-default" #btn8 (click)="keyInput(btn8)" value="8">
                </mat-grid-tile>

                <mat-grid-tile>
                  <input type="button" class="btn btn-default" #btn9 (click)="keyInput(btn9)" value="9">
                </mat-grid-tile>
              </mat-grid-list>
              <mat-grid-list cols="3" rowHeight="2:1">
                <mat-grid-tile>
                  <button class="btn btn-default" (click)="deleteInputValues()">
                    <i class="fa fa-arrow-circle-left"></i>
                  </button>
                </mat-grid-tile>

                <mat-grid-tile>
                  <input type="button" class="btn btn-default" #btn0 (click)="keyInput(btn0)" value="0">
                </mat-grid-tile>

                <mat-grid-tile>
                  <button class="btn btn-default" (click)="acceptInputValues()">
                    <i class="fa fa-check-square"></i>
                  </button>
                </mat-grid-tile>
              </mat-grid-list>
            </mat-grid-list>
            <mat-grid-list cols="3">
              <mat-grid-tile>

              </mat-grid-tile>
              <mat-grid-tile>
                <button mat-raised-button color="primary" (click)="acceptInputValues()">Login</button>
              </mat-grid-tile>
              <mat-grid-tile>

              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav>
  </mat-sidenav-container>
</div>