@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import '~bootstrap/dist/css/bootstrap.min.css';

body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0; 
  }

.app{
    height: 100vh;
}
mat-sidenav {
    width: 30%;
}
.cInput{
    width:76%;
}

.icon-input-btn{
    display: inline-block;
    position: relative;
}

.icon-input-btn input[type="button"]{
    padding-left: 2em;
}

.icon-input-btn .glyphicon{
    display: inline-block;
    position: absolute;
    left: 0.65em;
    top: 20%;
}

mat-sidenav-container > mat-sidenav {
    /* display:flex;
    flex-direction: column; */
    padding: 20px;
}
.form-field-width{
    width:50px;
}
.test {
    background: #1abc9c;
    color: blue;
}